    .error-class_contact_form_1585033757 {
                        color: #a94442;
                    }

                    .required-field_contact_form_1585033757 {
                        color: #a94442;
                    }

                    .label-class_contact_form_1585033757 {
                        color: #000000 ;
                    }.form-horizontal .control-label {
    display: none;
}
.col-sm-10 {
    width: 100%!important;
}